<div class="container">

  <h1>BIENVENIDOS A VIDEOGAME-MATRIXSHOP</h1>
  <br>
  <h1 class="card-title">Que desea realizar?</h1>
  <br>
  <button class="btn btn-info" type="button" [routerLink]="['/games']">Administrar Juegos</button>
  <br>
  <br>
  <button class="btn btn-info" type="button" [routerLink]="['/clientes']">Administrar Clientes</button>
  <br>
  <br>
  <button class="btn btn-info" type="button" [routerLink]="['/ventas']">Administrar Alquileres de Juegos</button>
  <br>
  <br>
  <br>
  <br>
  <h5 class="card-title">By: Hamilton Mesa</h5>
</div>
