<div class="container">
  <h1 class="card-title">Reporte de Juegos</h1>
  <div class="form-group row">
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" [routerLink]="['/createGame']">Registrar Juego</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" type="button" (click)='getGameTop()'>Conocer Juego Más Rentado</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" role="button" (click)='getAllGames()'>Mostrar Todos los Juegos</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" [routerLink]="['/main']">Atras</button>
    </div>
  </div>
  <br>
  <br>
  <form [formGroup]="form">

    <div class="form-group row">
      <label for="idRol" class="col-form-label col-sm-2">Rol en el Juego: </label>
      <select name="idRol" formControlName="idRol"  [(ngModel)]="filertsJuegos.idRol" >
        <option [ngValue]="rol.idRol" *ngFor="let rol of listaRoles" >{{rol.idRol}} | {{rol.nombreRol}}</option>
      </select>
      <label for="idPersona" class="col-form-label col-sm-1">Persona: </label>
      <select name="idPersona" formControlName="idPersona"  [(ngModel)]="filertsJuegos.idPersona" >
        <option [ngValue]="pers.idPersona" *ngFor="let pers of listaPersonas" >{{pers.idPersona}} | {{pers.nombresPersona}} {{pers.apellidosPersona}} </option>
      </select>
    </div>
    <div class="form-group row">
      <label for="idMarca" class="col-form-label col-sm-2">Marca del Juego</label>
      <select name="idMarca" formControlName="idMarca"  [(ngModel)]="filertsJuegos.idMarca" >
        <option [ngValue]="marca.idMarca" *ngFor="let marca of listaMarcas" >{{marca.idMarca}} | {{marca.nombreMarca}}</option>
      </select>
      <button class="btn btn-info" role="button" (click)='getGamexRolyPersona()' >Consultar</button>
    </div>
  </form>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Identificador Juego</th>
        <th scope="col">Nombre Juego</th>
        <th scope="col">Descripción Juego</th>
        <th scope="col">Precio Juego</th>
        <th scope="col">Precio Alquiler x Día del Juego</th>
        <th scope="col">Marca Juego</th>
        <th scope="col">Fecha Lanzamiento</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.idJuego}}</td>
        <td>{{game.nombreJuego}}</td>
        <td>{{game.descripcionJuego}}</td>
        <td>{{game.precioJuego}}</td>
        <td>{{game.precioAlquilerJuego}}</td>
        <td>{{game.idMarca}} | {{game.nombreMarca}}</td>
        <td>{{game.fechaLanzamientoJuego}}</td>
        <td><button type="button" name="button" class="btn btn-primary"
            [routerLink]="['/createGame', game.idJuego]">Editar</button></td>
      </tr>
    </tbody>
  </table>

</div>
