
<div class="container">
  <h1 class="card-title">Reporte de Juegos</h1>
  <div class="form-group row">
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" [routerLink]="['/createGame']">Registrar Juego</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" [routerLink]="['/main']">Atras</button>
    </div>
  </div>
  <br>
  <br>


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Identificador Juego</th>
        <th scope="col">Nombre Juego</th>
        <th scope="col">Descripción Juego</th>
        <th scope="col">Precio Juego</th>
        <th scope="col">Precio Alquiler x Día del Juego</th>
        <th scope="col">Marca Juego</th>
        <th scope="col">Fecha Lanzamiento</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.idJuego}}</td>
        <td>{{game.nombreJuego}}</td>
        <td>{{game.descripcionJuego}}</td>
        <td>{{game.precioJuego}}</td>
        <td>{{game.precioAlquilerJuego}}</td>
        <td>{{game.idMarca}} | {{game.nombreMarca}}</td>
        <td>{{game.fechaLanzamientoJuego}}</td>
        <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/createGame', game.idJuego]" >Editar</button></td>
      </tr>
    </tbody>
  </table>

</div>
