<div class="container">
  <h1 class="card-title">Reporte de Alquileres</h1>
  <div class="form-group row">
    <div class="col-sm-2">
    <button class="btn btn-info" type="button" [routerLink]="['/alquilarjuego']">Alquilar Juego</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" (click)='getVentasDay()' >Ventas del Dìa</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" (click)='getAllAlquileres()' >Todas las Ventas</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" type="button" [routerLink]="['/main']">Atras</button>
    </div>
  </div>
  <br>
  <br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Identificador Registro</th>
        <th scope="col">Juego Alquilado</th>
        <th scope="col">Plataforma</th>
        <th scope="col">Documento Cliente</th>
        <th scope="col">Nombre Cliente</th>
        <th scope="col">Valor Transacciòn</th>
        <th scope="col">Fecha Inicio Prestamo</th>
        <th scope="col">Fecha Fin Prestamo</th>
        <th scope="col">Fecha Devoluciòn</th>
        <th scope="col">Código Compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alquiler of alquileres">
        <td>{{alquiler.idAlquiler}}</td>
        <td>{{alquiler.idJuego}} | {{alquiler.nombreJuego}}</td>
        <td>{{alquiler.idPlataforma}} | {{alquiler.nombrePlataforma}}</td>
        <td>{{alquiler.documentoCliente}}</td>
        <td>{{alquiler.nombreCliente}}</td>
        <td>{{alquiler.valorPagado}}</td>
        <td>{{alquiler.fechaInicioPrestamo}}</td>
        <td>{{alquiler.fechaFinPrestamo}}</td>
        <td>{{alquiler.fechaDevolucion}}</td>
        <td>{{alquiler.codigoCompra}}</td>
      </tr>
    </tbody>
  </table>

</div>
